[submodule "lib/cpp-httplib"]
	path = lib/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "cmake/sdl2"]
	path = cmake/sdl2
	url = https://github.com/opeik/cmake-modern-findsdl2
[submodule "cmake/sdl2-cmake-modules"]
	path = cmake/sdl2-cmake-modules
	url = https://gitlab.com/aminosbh/sdl2-cmake-modules.git
[submodule "lib/CxxUrl"]
	path = lib/CxxUrl
	url = https://github.com/chmike/CxxUrl
[submodule "cmake/cmake-modules"]
	path = cmake/cmake-modules
	url = https://github.com/rpavlik/cmake-modules.git
[submodule "cmake/FileInformation"]
	path = cmake/FileInformation
	url = https://github.com/sakra/FileInformation.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
	branch = tags/3.7.3
